* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    vertical-align: middle;
    max-width: 100%;
}
.w660 {
    width: 660px;
    margin: 0 auto;
}
.w720 {
    width: 720px;
    margin: 0 auto;
}
.emag-cover {
    width: 100%;
    height: 100vh;
    max-height: 100vh;
}
.emag-cover img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: center;
}
.emag-cover-title {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    transform: translate(0, 50vh);
    transition: all 0.6s;
}
.emag-bg {
    position: fixed;
    bottom: 0;
    left: 0;
    object-position: top!important;
    z-index: 1;
    opacity: 1;
    transition: all 0.3s;
}
.emag-bg.fixed {
    opacity: .5;
}
.emag-desc {
    padding: 60px 0;
    background-color: #000;
    color: #f5f5f5;
    position: relative;
    z-index: 0;
}
.emag-desc p {
    font-family: 'NotoSerif', serif;
    font-size: 17px;
    line-height: 26px;
}
.emag-desc p:not(:last-child) {
    margin-bottom: 30px;
}
.emag-section {
    background-color: #f5f5f5;
    background-image: url('../images/bg-1.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-attachment: fixed;
    padding-bottom: 100px;
    z-index: 1;
    position: relative;
}
.emag-sec-cover {
    position: relative;
    overflow: hidden;
}
.emag-sec-cover img {
    width: 100%;
}
.emag-sec-cover-desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100% / 3);
    transform: translate(0, 0);
    transition: all 0.1s;
}
.emag-sec-sapo {
    line-height: 26px;
    margin: 0 auto;
    font-family: 'NotoSerif', serif;
    font-weight: 700;
    font-style: italic;
    font-size: 17px;
    text-align: center;
    width: 750px;
    background-color: rgba(255, 255, 255, .7);
    padding: 20px 0;
}
.emag-sec-title {
    font-family: 'Americana';
    font-size: 48px;
    text-align: center;
    margin: 40px auto;
}
.emag-sec-row {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
    width: 78.125%;
}
.emag-sec-column {
    width: calc(50% - 15px);
    height: 100%;
}
.emag-sub {
    color: #fff;
    font-family: 'Americana';
    font-size: 1.2vw;
    line-height: 44px;
    padding: 0 20px;
}
.emag-sec-column:first-child .emag-sub {
    background-color: #344e88;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.emag-sec-column:last-child .emag-sub {
    background-color: #dc0101;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.emag-content {
    background-color: #fff;
    padding: 20px;
}
.emag-content p {
    font-family: 'NotoSerif', serif;
    font-size: 17px;
    line-height: 26px;
}
.emag-content p:not(:last-child) {
    margin-bottom: 30px;
}
.emag-sec-img {
    display: block;
    width: 78.125%;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
}
.emag-cation {
    display: block;
    margin: 0 auto;
    width: 78.125%;
}